.album {

    h1 {
        margin: 0;
    }

    h2 {
        //font-style: italic;
        margin: 0.5em 0;
    }

    .container {
        z-index: 5;
    }

    .background-art {
        user-select: none;
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        //box-shadow: inset 150px -150px 250px 10px $darkBackground;
        //border-bottom-left-radius: 100%;
        opacity: 0.1;

        &:after {
            content: '';
            position: absolute;
            z-index: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background: linear-gradient( rgba($darkBackground,0), $darkBackground);
        }
    }

    .tags {
        margin: 0.4em 0;
    }

    .album-info {
        position: relative;
        margin: 50px 0;
        padding-left: 210px;
        height: 185px;
        overflow: visible;
    }

    .album-art {
        position: absolute;
        top: 0;
        left: 0;
        width: 185px;
        margin-bottom: 0;
    }

    .add-album-btn {
        margin: 0.5em 0;
    }
}
