.sidebar {
    $libraryLinkHeight: 65px;

    position: fixed;
    z-index: 101;
    top: $topBarHeight;
    left: 0;
    width: $sidebarWidth;
    height: calc( 100% - #{$playerBarHeight} - #{$topBarHeight} );
    border: solid transparent $borderPadding;
    border-bottom: 0;
    font-size: 1.2em;
    padding-bottom: $sidebarWidth - $borderPadding;

    .padded-inner {
        width: 100%;
        height: 100%;
        background: $medBackground;
    }

    .album-art {
        position: absolute;
        z-index: 101;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $sidebarWidth - $borderPadding - $borderPadding;
        background: $primaryColor;

        .icon {
            color: lighten( $primaryColor, 3% );
            font-size: $sidebarWidth / 1.2;
            //text-shadow: 0 0 10px rgba(black,0.2);
        }

        img {
            width: 100%;
        }
    }

    .wrapper {
        position: relative;
        height: 100%;

        &.logged-in {
            padding-top: $libraryLinkHeight + $borderPadding;
        }
    }

    .login-signup {
        text-align: center;
        padding: 30px;

        .sign-in-register-buttons {
            margin: 30px -25px;
        }
    }

    .logged-in {
    }

    .link {
        cursor: pointer;
        position: relative;
        display: block;
        width: 100%;
        //height: $defaultButtonHeight;
        border: none;
        padding: 12px 15px;
        color: $white;
        background: transparent;
        //border-bottom: 1px solid $darkBackground;
        transition: all $standardHoverTime;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;


        &:hover, &:focus {
            background: $medLightBackground;
            //box-shadow: $dropShadowDepth1;
        }

        &.dragNdrop-hover {
            background: $darkBackground;
            padding-left: 30px;
        }

        &:hover, &:visited {
            text-decoration: none;
            .text {
                text-decoration: none;
            }
        }

    }

    input.link {
        color: $darkBackground;
        font-size: 1em;
    }

    .user-playlists {
    }

    .playlist-icon {
        font-size: 1.1em;
    }

    .library-link {
        position: absolute;
        top: 0;
        left: 0;
        height: $libraryLinkHeight + $borderPadding;
        font-size: 1.5em;
        padding: 15px;
        border-bottom: $borderPadding solid $darkBackground;

        .library {
            margin-right: 15px;
        }
    }

    button.btn, button.btn-default {

    }
}
