.sidebar {
    position: fixed;
    z-index: 50;
    top: $topBarHeight;
    left: 0;
    width: $sidebarWidth;
    height: calc( 100% - #{$playerBarHeight} - #{$topBarHeight} );
    border: solid transparent $borderPadding;
    border-bottom: 0;

    .padded-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $medBackground;
    }

    .album-art {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $sidebarWidth - $borderPadding - $borderPadding;
        background: $lightBackground;
        padding: 20px;

        img {
            box-shadow: 0 0 20px 5px rgba(black, 0.5);
        }
    }

    .login-signup {

    }

    .user-playlists {
        margin: 20px 0;

        .playlist-link {
            display: block;
            width: 100%;
            border: none;
            padding: 0.5em;
            border-bottom: 1px solid $darkBackground;
        }

    }
}
