<IfModule mod_headers.c>
    # Header set Access-Control-Allow-Origin "http://localhost:3000"
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Credentials "true"
    Header set Access-Control-Allow-Methods "GET,HEAD,OPTIONS,POST,PUT"
    Header set Access-Control-Allow-Headers "Access-Control-Allow-Headers, Origin,Accept, X-Requested-With, Content-Type, Access-Control-Request-Method, Access-Control-Request-Headers"
</IfModule>
