.PlayerBar {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    height: $playerBarHeight;
    width: 100%;
    background: $darkBackground;
    border: solid transparent $borderPadding;
    color: gree;
    padding: 0 130px 0 #{$sidebarWidth - $borderPadding};

    .input-range {
        display: inline-block;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;

        .input-range__track {
            top: 0;
            margin: 0;
            height: 100%;
            border: none;
            border-radius: 0;
            background: $lightBackground;
        }

        .input-range__track--active {
            background: $primaryColor;
        }

        .input-range__slider {
            display: none;
        }
    }

    #yt-container {
        position: absolute;
        bottom: calc( 100% + #{$borderPadding} );
        left: 0;
        height: $sidebarWidth - $borderPadding - $borderPadding;
        width: $sidebarWidth - $borderPadding - $borderPadding;
        transform: translate3d(0,150%,0);
    }

    .player-btn {
        display: inline-block;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: $playerBarHeight - $borderPadding - $borderPadding;
        background: $primaryColor;
        font-size: 1.5em;
        cursor: pointer;
        transition: .1s;

        &:hover {
            opacity: 0.7;
        }

        &.enabled {
            background: $medBackground;
        }

        &.player-play-pause {
            font-size: 2em;
            margin: 0 $borderPadding;
        }

        .icon {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }

    .volume-mute {
        display: inline-block;
        height: 100%;
        margin-left: $borderPadding;
        font-size: 1.2em;

        .input-range {
            width: 85px;
        }
    }

    .player-controls-lhs {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: $sidebarWidth - $borderPadding - $borderPadding;
    }

    .progress-bar-container {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    .track-details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: left;
        pointer-events: none;
        font-size: 1em;
        color: $darkBackground;
        line-height: 1.5em;
        padding: .35em .75em;

        .track-title {
            font-size: 1.5em;
        }

        .track-progress {
            float: right;
        }
    }

    .player-controls-rhs {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 130px;
        text-align: right;

        .loop-track {
            margin: 0 $borderPadding;
        }
    }



}
