.topbar {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: $topBarHeight;
    border: solid transparent $borderPadding;
    border-bottom: 0;

    .padded-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $medBackground;
        padding: 7px 245px;
    }

    .refracter-logo {
        position: absolute;
        left: 20px;
        top: 0;
        height: 100%;
        color: $primaryColor;
        font-size: 150px;
        overflow: visible;
        //opacity: 0.7;

        //alpha label
        .alpha-label {
            position: absolute;
            top: 0;
            right: 0;
            padding: .3em;
            font-size: 10px;
            line-height: 0.9em;
            background: $primaryColor;
            color: $medBackground;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .seach-input-container {
        position: relative;
        display: block;
        margin: auto;
        max-width: 550px;
        height: 100%;
        color: $white;

        input {
            position: absolute;
            z-index: 50;
            height: 100%;
            width: 100%;
            font-size: 1.5em;
            padding: 0 20px 0 $topBarHeight - $borderPadding - $borderPadding;
            margin: 0;

            &:focus {
                padding-left: 20px;

                & + .icon {
                    left: 100%;
                    right: 0%;
                    transform: translate3d(-100%,0,0);
                }
            }
        }

        .icon {
            position: absolute;
            z-index: 51;
            left: 0%;
            top: 0;
            height: 100%;
            width: $topBarHeight - $borderPadding - $borderPadding;
            //background: $primaryColor;
            font-size: 2em;
            pointer-events: none;
            transition: all .3s;
            transform: translate3d(0,0,0);
        }
    }

    .logged-in {
        position: absolute;
        right: 10px;
        top: 10px;
        //padding: 10px;
        width: 235px;
        padding-right: 112px;

        .username {
            width: 100%;
            padding: 10px;
            text-align: right;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .signout-btn {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

}
