.track-list {
    //margin: $pageComponentMargin 0;

    * {
        user-select: none;
    }

    table {
        margin: 0;

        thead {
            tr {
                border: none;
                background: none !important;

                .play-btn-col {
                    width: 40px;
                }

                .number-col {
                    width: 50px;
                }

                .duration-col {
                    width: 70px;
                }

                th {
                    border: none;
                    text-transform: uppercase;
                    padding: 10px 10px 8px;
                    max-width: 177px;
                    font-size: 0.8em;
                    transition: all $standardHoverTime;

                    span {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: inline-block;
                        max-width: 100%;
                    }

                    &.pointer:hover {
                        background: rgba($lightBackground,0.2);
                    }

                    .sort-icon {
                        position: relative;
                        top: 5px;
                        margin-right: 0.5em;
                    }
                }
            }
        }

        tr {
            position: relative;
            border: none;

            td {
                cursor: default;
                border: none;
                font-size: 1.2em;
                padding: 10px 15px 8px;
                max-width: 177px;

                span {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                    max-width: 100%;
                }

                &.play-btn-col {
                    position: absolute;
                    cursor: pointer;
                    line-height: 1em;
                    padding: 0.8em;

                    .equalizer {
                        display: inline-block;
                        transform-origin: 0 0;
                        transform:  rotate(180deg);
                        margin: 1.2em;
                    }

                    .refracter-pause {
                        display: none;
                        margin-top: 0.1em;
                    }

                    &:hover {
                        .refracter-play {
                            transform: scale(1.3);
                        }
                        .equalizer {
                            display: none;
                        }
                        .refracter-pause {
                            display: block;
                            transform: scale(1.3);
                        }
                    }
                }
            }


            &:hover{
                background: $darkBackground;
            }

            &.selected-track {
                background: $lightBackground;
                color: $darkBackground;

                a, a:visited {
                    color: $darkBackground;
                }
            }

            &.active-track {
                background: $primaryColor;
                color: $darkBackground;

                a, a:visited {
                    color: $darkBackground;
                }

            }
        }
    }

}
