.track-list {
    //margin: $pageComponentMargin 0;

    * {
        user-select: none;
    }

    table {
        margin: 0;

        thead {
            tr {
                border: none;
                background: none !important;
                //border-bottom: 1px solid $white;

                .play-btn-col {
                    width: 40px;
                }

                .number-col {
                    width: 50px;
                }

                .duration-col {
                    width: 70px;
                }

                th {
                    border: none;
                    text-transform: uppercase;
                    padding: 0.75em;
                    max-width: 177px;
                    list-height: 1em;

                    span {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: inline-block;
                        max-width: 100%;
                    }

                    &.pointer:hover {
                        background: rgba($lightBackground,0.2);
                    }

                    .sort-icon {
                        position: relative;
                        top: 5px;
                        margin-right: 0.5em;
                    }
                }
            }
        }

        tr {
            position: relative;
            border: none;

            td {
                cursor: default;
                border: none;
                font-size: 1.2em;
                padding: 1em 1em 0.8em 1em;
                max-width: 177px;
                line-height: 1em;

                span {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                    max-width: 100%;
                }
            }

            .play-icon {
                position: absolute;
                cursor: pointer;

                &:hover {

                    &:before {
                        transform: scale(1.3);
                    }
                }

                &:before {
                    content: "\f215";
                }
            }

            &:hover{
                background: $darkBackground;
            }

            &.selected-track {
                background: $lightBackground;
                color: $darkBackground;

                a, a:visited {
                    color: $darkBackground;
                }
            }

            &.active-track {
                background: $primaryColor;
                color: $darkBackground;

                a, a:visited {
                    color: $darkBackground;
                }

                @import '../scss/animEqualizer';

                .play-icon.equalizer {
                    transform-origin: 0 0;
                    transform: scale(0.1) rotate(180deg);
                    margin: 2.1em;

                    &:hover {

                        &:before {
                            transform: none;
                        }
                    }
                }

            }
        }
    }

}
