.track-list {
    margin: $pageComponentMargin 0;

    .react-bs-table {
        margin: $pageComponentMargin 0;
        user-select: none;
        border: none;
    }

    table {

        thead {
            tr {
                border: none;
                background: none !important;
                border-bottom: 1px solid $white;

                .play-btn-col {
                    width: 40px;
                }

                .number-col {
                    width: 50px;
                }

                .duration-col {
                    width: 70px;
                }

                th {
                    border: none;

                    &.pointer:hover {
                        background: rgba($lightBackground,0.2);
                    }

                    .sort-icon {
                        margin-right: 0.5em;
                    }
                }
            }
        }

        tr {
            position: relative;
            border: none;

            td {
                user-select: none;
                cursor: default;
                border: none;
                font-size: 1.2em;
                padding: 0.75em;
            }

            .play-icon {
                position: absolute;
                cursor: pointer;

                &:hover {

                    &:before {
                        transform: scale(1.3);
                    }
                }

                &:before {
                    content: "\f215";
                }
            }

            &:hover{
                background: lighten( $darkBackground, 10%);
            }

            &.selected {
                background: $lightBackground;
                color: $darkBackground;
            }

            &.active-track {
                background: $primaryColor;
                color: $darkBackground;

                @import '../scss/animEqualizer';

                .play-icon.equalizer {
                    transform-origin: 0 0;
                    transform: scale(0.1) rotate(180deg);
                    margin: 2em;
                }

            }
        }
    }

}
