.album h1 {
  position: relative;
  margin: 0;
  font-size: 2em;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.album h2 {
  font-size: 1.2em;
  margin: 10px 0 25px; }

.album .container {
  z-index: 5; }

.album .tags {
  margin: 0.4em 0; }

.album .album-info {
  position: relative;
  padding-left: 210px;
  height: 185px;
  overflow: visible; }

.album .album-art {
  position: absolute;
  top: 0;
  left: 0;
  width: 185px;
  margin-bottom: 0; }
