@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
* {
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: #121212; }

hr {
  opacity: 0.25; }

.pointer {
  cursor: pointer; }

.container {
  width: 100%;
  max-width: 1440px; }

.padded-inner {
  top: 5px;
  left: 5px;
  width: 100%;
  height: 60px; }

.content-window {
  position: absolute;
  z-index: 1000;
  top: 70px;
  right: 0;
  width: calc( 100% - 350px);
  height: calc( 100% - 70px - 70px);
  border: solid transparent 5px;
  border-left: 0;
  border-bottom: 0;
  overflow: visible; }

.scrollable {
  height: 100%; }

.scrollarea .scrollbar-container.vertical .scrollbar {
  background: #efefef; }

.page {
  position: relative; }

.card {
  margin: 50px 0;
  padding: 50px;
  background: rgba(220, 220, 220, 0.1); }
  .card h1:first-child, .card h2:first-child {
    margin-top: 0; }

.icon.absolute {
  text-align: center;
  user-select: none; }
  .icon.absolute:before {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -0.5em; }

.icon:hover {
  text-decoration: none !important; }

.toastify {
  z-index: 9999;
  color: #efefef; }
  .toastify.toastify--top-right {
    top: calc( 70px + 1em + 5px); }
  .toastify .toastify__close {
    font-size: 1.2em;
    line-height: 0;
    padding-bottom: 4px; }
    .toastify .toastify__close:hover {
      background: none;
      color: #efefef; }
  .toastify .toastify-content {
    display: flex;
    align-items: center;
    background: #333;
    padding-left: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    animation-timing-function: linear !important; }
  .toastify .toastify__body {
    font-size: 1em; }

html.dragNdrop-isDragging * {
  user-select: none; }

.dragNdrop-preview {
  position: fixed;
  z-index: 2000;
  width: 200px;
  padding: 1em;
  background: #efefef;
  color: #121212;
  transform: rotate3d(0, 0, 0); }

body.modal-open .modal {
  display: flex !important;
  height: 100%; }

body.modal-open .modal .modal-dialog {
  margin: auto; }

.react-contextmenu {
  z-index: 99999;
  width: 200px;
  font-size: 16px;
  color: #efefef;
  text-align: left;
  background-color: #333;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto; }

.react-contextmenu-item {
  width: 200px;
  padding: 10px 20px;
  font-weight: 400;
  line-height: 1.5;
  text-align: inherit;
  background: 0 0;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .react-contextmenu-item .react-contextmenu {
    border-left: 1px solid #333; }

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item:hover {
  color: #121212;
  background-color: #EDA564;
  border-color: #121212;
  text-decoration: none; }

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  color: #878a8c;
  background-color: transparent; }

.react-contextmenu-item--divider {
  padding: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  cursor: inherit; }

.react-contextmenu-item--divider:hover {
  background-color: transparent; }

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
  border: none; }

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
  content: "❯";
  display: inline-block;
  position: absolute;
  right: 10px; }

.example-multiple-targets::after {
  content: attr(data-count);
  display: block; }

.slick-next:before, .slick-prev:before {
  transition: all 0.2s;
  color: #efefef; }

.slick-arrow {
  transition: all 0.2s; }

.slick-disabled {
  opacity: 0; }

.slick-prev {
  left: -30px; }

.slick-next {
  right: -30px; }

body {
  font-family: "Titillium Web", sans-serif;
  color: #efefef;
  font-size: 1.5em;
  line-height: 1.5em; }

a, a:visited {
  color: #efefef; }

a:hover {
  color: #EDA564; }

h1 {
  font-size: 3em;
  margin: 50px 0;
  color: #efefef; }
  h1 .icon {
    margin-right: 15px; }

h2 {
  font-weight: 800;
  font-size: 1.75em;
  letter-spacing: 0.05em;
  margin: 30px 0; }
  h2:first-child {
    margin-top: 0; }

.playlist-icon {
  margin-right: 15px; }
  .playlist-icon .notes {
    position: relative;
    top: 0.2em;
    left: -0.2em;
    text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3); }
  .playlist-icon .list {
    position: relative;
    top: -0.05em;
    left: 0.2em; }

.tag {
  font-size: 0.9em; }

button.btn, button.btn-default, .dropdown .dropdown-label, .dropdown-contents div {
  height: 46px;
  border-radius: 0;
  border: none;
  color: #efefef;
  background: #555;
  padding: 0.75em 1em;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.2s; }
  button.btn:hover, button.btn-default:hover, .dropdown .dropdown-label:hover, .dropdown-contents div:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #EDA564;
    color: white; }

.dropdown {
  position: relative;
  height: 46px;
  max-width: 250px;
  background: #333;
  overflow: hidden;
  transition: all .3s; }
  .dropdown:hover {
    box-shadow: inet 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .dropdown .dropdown-contents {
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%; }
  .dropdown .dropdown-label {
    text-align: center; }
    .dropdown .dropdown-label .icon {
      float: right; }

.modal-content {
  background: #333;
  border-radius: 0;
  text-align: center; }

label {
  display: block; }

input {
  display: block;
  color: #121212; }

input:focus, textarea:focus {
  outline: none; }

.input-range {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  height: 100%; }
  .input-range .input-range__track {
    top: 0;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 0;
    background: #dcdcdc; }
  .input-range .input-range__track--active {
    background: #EDA564; }
  .input-range .input-range__slider {
    display: none; }

/*
================================================================================
SPINNERS
================================================================================
A Sass mixin to generate a pure CSS3 loading/busy indicator.
https://github.com/franzheidl/spinners
Franz Heidl 2014
MIT License
--------------------------------------------------------------------------------
USAGE

Default:

.my-spinner {
 @include spinner();
}


Custom:

.my-spinner {
 @include spinner(1.25em, 3px solid #555, .7s, background rgba(0, 0, 0, .2);
}

All arguments are optional.

Acceppts any valid CSS dimensional declaration, e.g px, em, rem as an argument for size.

Use either shorthand border declarations or individual 'border-[property] [value]' (no colon!) pairs for the style.

Pass any number of seconds referring to the duration of one full rotation for animation speed.

--------------------------------------------------------------------------------
*/
@-webkit-keyframes spinner-animation {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spinner-animation {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-ms-keyframes spinner-animation {
  0% {
    -ms-transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg); } }

@-o-keyframes spinner-animation {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(100deg); } }

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.spinner {
  background-color: transparent;
  border: 3px solid #1277c2;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: spinner-animation 0.65s infinite linear;
  -moz-animation: spinner-animation 0.65s infinite linear;
  -o-animation: spinner-animation 0.65s infinite linear;
  -ms-animation: spinner-animation 0.65s infinite linear;
  animation: spinner-animation 0.65s infinite linear; }

.topbar {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border: solid transparent 5px;
  border-bottom: 0; }
  .topbar .padded-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #dcdcdc;
    padding: 5px; }
  .topbar .refracter-logo {
    position: absolute;
    left: 20px;
    top: 25%;
    height: 50%;
    opacity: 0.7; }
  .topbar .signout-btn {
    position: absolute;
    right: 20px;
    top: 25%; }
  .topbar .seach-input-container {
    position: relative;
    display: block;
    margin: auto;
    max-width: 600px;
    height: 100%;
    color: #efefef; }
    .topbar .seach-input-container input {
      display: block;
      position: absolute;
      z-index: 50;
      height: 100%;
      width: 100%;
      background: #555;
      color: #efefef;
      border: none;
      font-size: 20px;
      padding: 20px 20px 20px 75px;
      transition: all .3s; }
      .topbar .seach-input-container input:focus {
        padding-left: 20px;
        background: #484848;
        color: #EDA564; }
        .topbar .seach-input-container input:focus + .icon {
          left: 100%;
          right: 0%;
          transform: translate3d(-100%, 0, 0);
          color: #EDA564; }
    .topbar .seach-input-container .icon {
      position: absolute;
      z-index: 51;
      left: 0%;
      top: 0;
      height: 100%;
      width: 70px;
      font-size: 2em;
      pointer-events: none;
      transition: all .3s;
      transform: translate3d(0, 0, 0); }

.PlayerBar {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: #121212;
  border: solid transparent 5px;
  color: gree;
  padding: 0 130px 0 345px; }

#yt-container {
  position: absolute;
  bottom: calc( 100% + 5px);
  left: 0;
  height: 340px;
  width: 340px;
  transform: translate3d(0, 150%, 0); }

.player-btn {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  background: #EDA564;
  font-size: 1.5em;
  cursor: pointer;
  transition: .1s; }
  .player-btn:hover {
    opacity: 0.7; }
  .player-btn.player-play-pause {
    font-size: 2em;
    margin: 0 5px; }
  .player-btn .icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

.volume-mute {
  display: inline-block;
  height: 100%;
  margin-left: 5px;
  font-size: 1.2em; }
  .volume-mute .input-range {
    width: 85px; }

.player-controls-lhs {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 340px; }

.progress-bar-container {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%; }

.track-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  pointer-events: none;
  font-size: 1.1em;
  color: #121212;
  line-height: 1.6em;
  padding: .3em .75em; }
  .track-details .track-title {
    font-size: 1.3em; }
  .track-details .track-progress {
    float: right; }

.player-controls-rhs {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 130px;
  text-align: right; }
  .player-controls-rhs .loop-track {
    margin: 0 5px; }

.track-list * {
  user-select: none; }

.track-list table {
  margin: 0; }
  .track-list table thead tr {
    border: none;
    background: none !important; }
    .track-list table thead tr .play-btn-col {
      width: 40px; }
    .track-list table thead tr .number-col {
      width: 50px; }
    .track-list table thead tr .duration-col {
      width: 70px; }
    .track-list table thead tr th {
      border: none;
      text-transform: uppercase;
      padding: 0.75em;
      max-width: 177px;
      list-height: 1em; }
      .track-list table thead tr th span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%; }
      .track-list table thead tr th.pointer:hover {
        background: rgba(220, 220, 220, 0.2); }
      .track-list table thead tr th .sort-icon {
        position: relative;
        top: 5px;
        margin-right: 0.5em; }
  .track-list table tr {
    position: relative;
    border: none; }
    .track-list table tr td {
      cursor: default;
      border: none;
      font-size: 1.2em;
      padding: 1em 1em 0.8em 1em;
      max-width: 177px;
      line-height: 1em; }
      .track-list table tr td span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%; }
    .track-list table tr .play-icon {
      position: absolute;
      cursor: pointer; }
      .track-list table tr .play-icon:hover:before {
        transform: scale(1.3); }
      .track-list table tr .play-icon:before {
        content: "\f215"; }
    .track-list table tr:hover {
      background: #121212; }
    .track-list table tr.selected-track {
      background: #dcdcdc;
      color: #121212; }
      .track-list table tr.selected-track a, .track-list table tr.selected-track a:visited {
        color: #121212; }
    .track-list table tr.active-track {
      background: #EDA564;
      color: #121212; }
      .track-list table tr.active-track a, .track-list table tr.active-track a:visited {
        color: #121212; }
      .track-list table tr.active-track .equalizer {
        position: absolute;
        display: block;
        width: 5.0vmin;
        background-color: #121212;
        height: 2.5vmin;
        overflow: visible; }
      .track-list table tr.active-track .equalizer,
      .track-list table tr.active-track .equalizer::before,
      .track-list table tr.active-track .equalizer::after {
        animation: equalize 1.25s steps(25, end) 0s infinite; }
      .track-list table tr.active-track .equalizer::before,
      .track-list table tr.active-track .equalizer::after {
        content: '';
        position: absolute;
        top: 0;
        left: 6.25vmin;
        height: 17.5vmin;
        width: 5.0vmin;
        background-color: #121212; }
      .track-list table tr.active-track .equalizer::before {
        animation-name: equalize2; }
      .track-list table tr.active-track .equalizer::after {
        left: 12.5vmin;
        animation-name: equalize3; }

@keyframes equalize {
  0% {
    height: 5.0vmin; }
  4% {
    height: 2.5vmin; }
  8% {
    height: 5.0vmin; }
  12% {
    height: 8.75vmin; }
  16% {
    height: 12.5vmin; }
  20% {
    height: 16.25vmin; }
  24% {
    height: 15.0vmin; }
  28% {
    height: 13.75vmin; }
  32% {
    height: 13.75vmin; }
  36% {
    height: 10.0vmin; }
  40% {
    height: 12.5vmin; }
  44% {
    height: 12.5vmin; }
  48% {
    height: 13.75vmin; }
  52% {
    height: 15.0vmin; }
  56% {
    height: 16.25vmin; }
  60% {
    height: 15.0vmin; }
  64% {
    height: 15.0vmin; }
  68% {
    height: 13.75vmin; }
  72% {
    height: 12.5vmin; }
  76% {
    height: 13.75vmin; }
  80% {
    height: 15.0vmin; }
  84% {
    height: 15.0vmin; }
  88% {
    height: 16.25vmin; }
  92% {
    height: 12.5vmin; }
  96% {
    height: 8.75vmin; }
  100% {
    height: 5.0vmin; } }

@keyframes equalize2 {
  0% {
    height: 15.0vmin; }
  4% {
    height: 16.25vmin; }
  8% {
    height: 15.0vmin; }
  12% {
    height: 15.0vmin; }
  16% {
    height: 13.75vmin; }
  20% {
    height: 13.75vmin; }
  24% {
    height: 13.75vmin; }
  28% {
    height: 15.0vmin; }
  32% {
    height: 15.0vmin; }
  36% {
    height: 16.25vmin; }
  40% {
    height: 16.25vmin; }
  44% {
    height: 16.25vmin; }
  48% {
    height: 13.75vmin; }
  52% {
    height: 10.0vmin; }
  56% {
    height: 7.5vmin; }
  60% {
    height: 10.0vmin; }
  64% {
    height: 12.5vmin; }
  68% {
    height: 13.75vmin; }
  72% {
    height: 16.25vmin; }
  76% {
    height: 15.0vmin; }
  80% {
    height: 15.0vmin; }
  84% {
    height: 13.75vmin; }
  88% {
    height: 13.75vmin; }
  92% {
    height: 11.25vmin; }
  96% {
    height: 13.75vmin; }
  100% {
    height: 15.0vmin; } }

@keyframes equalize3 {
  0% {
    height: 11.25vmin; }
  4% {
    height: 8.75vmin; }
  8% {
    height: 11.25vmin; }
  12% {
    height: 13.75vmin; }
  16% {
    height: 16.25vmin; }
  20% {
    height: 18.75vmin; }
  24% {
    height: 17.5vmin; }
  28% {
    height: 13.75vmin; }
  32% {
    height: 11.25vmin; }
  36% {
    height: 10.0vmin; }
  40% {
    height: 8.75vmin; }
  44% {
    height: 6.25vmin; }
  48% {
    height: 10.0vmin; }
  52% {
    height: 12.5vmin; }
  56% {
    height: 13.75vmin; }
  60% {
    height: 16.25vmin; }
  64% {
    height: 15.0vmin; }
  68% {
    height: 13.75vmin; }
  72% {
    height: 13.75vmin; }
  76% {
    height: 12.5vmin; }
  80% {
    height: 15.0vmin; }
  84% {
    height: 16.25vmin; }
  88% {
    height: 17.5vmin; }
  92% {
    height: 15.0vmin; }
  96% {
    height: 12.5vmin; }
  100% {
    height: 11.25vmin; } }
      .track-list table tr.active-track .play-icon.equalizer {
        transform-origin: 0 0;
        transform: scale(0.1) rotate(180deg);
        margin: 2.1em; }
        .track-list table tr.active-track .play-icon.equalizer:hover:before {
          transform: none; }

.Tile {
  cursor: pointer;
  display: block;
  background: #333;
  margin: 15px 0;
  transition: all 0.2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .Tile:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .Tile .tile-image {
    position: relative;
    width: 100%;
    padding-bottom: 100%; }
    .Tile .tile-image .icon {
      font-size: calc(4vw + 4vh);
      color: #EDA564 !important; }
    .Tile .tile-image img {
      width: 100%;
      position: absolute; }
  .Tile .tile-info {
    padding: 0.5em;
    font-size: 0.9em; }
    .Tile .tile-info .tile-main-title, .Tile .tile-info .tile-secondary-title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .Tile .tile-info .tile-main-title {
      font-size: 1.1em; }
    .Tile .tile-info .tile-secondary-title {
      font-weight: bold; }

.slick-slider .Tile {
  margin: 15px 0; }

.album h1 {
  margin: 0; }

.album h2 {
  margin: 0.5em 0; }

.album .container {
  z-index: 5; }

.album .background-art {
  user-select: none;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  opacity: 0.1; }
  .album .background-art:after {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(18, 18, 18, 0), #121212); }

.album .tags {
  margin: 0.4em 0; }

.album .album-info {
  position: relative;
  margin: 50px 0;
  padding-left: 210px;
  height: 185px;
  overflow: visible; }

.album .album-art {
  position: absolute;
  top: 0;
  left: 0;
  width: 185px;
  margin-bottom: 0; }

.album .add-album-btn {
  margin: 0.5em 0; }

.artist .container {
  z-index: 5; }

.artist .artist-intro {
  text-align: center; }

.artist .background-art {
  display: block;
  user-select: none;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  opacity: 0.3; }
  .artist .background-art:after {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(rgba(18, 18, 18, 0), #121212); }

.artist .add-album-btn {
  margin: 1em 0; }

.sidebar {
  position: fixed;
  z-index: 50;
  top: 70px;
  left: 0;
  width: 350px;
  height: calc( 100% - 70px - 70px);
  border: solid transparent 5px;
  border-bottom: 0;
  font-size: 1.2em;
  padding-bottom: 345px; }
  .sidebar .padded-inner {
    width: 100%;
    height: 100%;
    background: #333; }
  .sidebar .album-art {
    position: absolute;
    z-index: 101;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 340px;
    background: #EDA564; }
    .sidebar .album-art .icon {
      color: #EDA564;
      font-size: 350px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
    .sidebar .album-art img {
      width: 100%; }
  .sidebar .wrapper {
    position: relative;
    height: 100%; }
    .sidebar .wrapper.logged-in {
      padding-top: 65px; }
  .sidebar .login-signup {
    text-align: center;
    padding: 20px; }
  .sidebar button {
    display: block;
    width: calc(100% - 40px);
    margin: 20px; }
  .sidebar .link {
    cursor: pointer;
    position: relative;
    display: block;
    width: 100%;
    border: none;
    padding: 12px 15px;
    color: #efefef;
    background: transparent;
    border-bottom: 1px solid #121212;
    transition: all 0.2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .sidebar .linkinput {
      color: #121212; }
    .sidebar .link:hover, .sidebar .link.dragNdrop-hover {
      background: #555;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .sidebar .link:hover, .sidebar .link:visited {
      text-decoration: none; }
      .sidebar .link:hover .text, .sidebar .link:visited .text {
        text-decoration: none; }
  .sidebar .playlist-icon {
    font-size: 1.1em; }
  .sidebar .library-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 65px;
    font-size: 1.5em;
    padding: 20px 15px; }
    .sidebar .library-link .library {
      margin-right: 20px;
      margin-left: 2px; }
