@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import url("https://file.myfontastic.com/K9negnKURwanTC49Nc55qc/icons.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
.equalizer {
  position: absolute;
  display: block;
  width: 7.0px;
  background-color: #222;
  height: 3.5px;
  overflow: visible; }

.equalizer,
.equalizer::before,
.equalizer::after {
  animation: equalize 1.25s steps(25, end) 0s infinite; }

.equalizer::before,
.equalizer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 8.75px;
  height: 24.5px;
  width: 7.0px;
  background-color: #222; }

.equalizer::before {
  animation-name: equalize2; }

.equalizer::after {
  left: 17.5px;
  animation-name: equalize3; }

@keyframes equalize {
  0% {
    height: 7.0px; }
  4% {
    height: 3.5px; }
  8% {
    height: 7.0px; }
  12% {
    height: 12.25px; }
  16% {
    height: 17.5px; }
  20% {
    height: 22.75px; }
  24% {
    height: 21.0px; }
  28% {
    height: 19.25px; }
  32% {
    height: 19.25px; }
  36% {
    height: 14.0px; }
  40% {
    height: 17.5px; }
  44% {
    height: 17.5px; }
  48% {
    height: 19.25px; }
  52% {
    height: 21.0px; }
  56% {
    height: 22.75px; }
  60% {
    height: 21.0px; }
  64% {
    height: 21.0px; }
  68% {
    height: 19.25px; }
  72% {
    height: 17.5px; }
  76% {
    height: 19.25px; }
  80% {
    height: 21.0px; }
  84% {
    height: 21.0px; }
  88% {
    height: 22.75px; }
  92% {
    height: 17.5px; }
  96% {
    height: 12.25px; }
  100% {
    height: 7.0px; } }

@keyframes equalize2 {
  0% {
    height: 21.0px; }
  4% {
    height: 22.75px; }
  8% {
    height: 21.0px; }
  12% {
    height: 21.0px; }
  16% {
    height: 19.25px; }
  20% {
    height: 19.25px; }
  24% {
    height: 19.25px; }
  28% {
    height: 21.0px; }
  32% {
    height: 21.0px; }
  36% {
    height: 22.75px; }
  40% {
    height: 22.75px; }
  44% {
    height: 22.75px; }
  48% {
    height: 19.25px; }
  52% {
    height: 14.0px; }
  56% {
    height: 10.5px; }
  60% {
    height: 14.0px; }
  64% {
    height: 17.5px; }
  68% {
    height: 19.25px; }
  72% {
    height: 22.75px; }
  76% {
    height: 21.0px; }
  80% {
    height: 21.0px; }
  84% {
    height: 19.25px; }
  88% {
    height: 19.25px; }
  92% {
    height: 15.75px; }
  96% {
    height: 19.25px; }
  100% {
    height: 21.0px; } }

@keyframes equalize3 {
  0% {
    height: 15.75px; }
  4% {
    height: 12.25px; }
  8% {
    height: 15.75px; }
  12% {
    height: 19.25px; }
  16% {
    height: 22.75px; }
  20% {
    height: 26.25px; }
  24% {
    height: 24.5px; }
  28% {
    height: 19.25px; }
  32% {
    height: 15.75px; }
  36% {
    height: 14.0px; }
  40% {
    height: 12.25px; }
  44% {
    height: 8.75px; }
  48% {
    height: 14.0px; }
  52% {
    height: 17.5px; }
  56% {
    height: 19.25px; }
  60% {
    height: 22.75px; }
  64% {
    height: 21.0px; }
  68% {
    height: 19.25px; }
  72% {
    height: 19.25px; }
  76% {
    height: 17.5px; }
  80% {
    height: 21.0px; }
  84% {
    height: 22.75px; }
  88% {
    height: 24.5px; }
  92% {
    height: 21.0px; }
  96% {
    height: 17.5px; }
  100% {
    height: 15.75px; } }

* {
  box-sizing: border-box;
  outline: 0 !important; }

::selection {
  background: #EDA564; }

::-moz-selection {
  background: #EDA564; }

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: #222; }

.Refracter-app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }

#splash {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 1s; }
  #splash.spinner-container.showing {
    visibility: visible;
    opacity: 1;
    animation: none; }

.background-logo {
  position: absolute;
  z-index: 0;
  top: 5%;
  left: 20%;
  width: 100%;
  height: 100%;
  font-size: 130vh;
  color: #252525; }

hr {
  opacity: 0.25; }

.pointer {
  cursor: pointer; }

.container {
  width: 100%;
  max-width: 1400px;
  padding-left: 50px;
  padding-right: 50px; }
  @media (max-width: 1199px) {
    .container {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 991px) {
    .container {
      padding-left: 15px;
      padding-right: 15px; } }

.padded-inner {
  top: 5px;
  left: 5px;
  width: 100%;
  height: 60px; }

.content-window {
  position: absolute;
  z-index: 100;
  top: 70px;
  right: 0;
  width: calc( 100% - 350px);
  height: calc( 100% - 70px - 70px);
  border: solid transparent 5px;
  border-left: 0;
  border-bottom: 0;
  overflow: visible; }

.scrollable {
  height: 100%; }

.Refracter-app .scrollarea .scrollbar-container.vertical .scrollbar {
  background: #efefef; }

.y-center {
  display: flex;
  align-items: center; }

.x-center {
  display: flex;
  justify-content: center; }

.page {
  position: relative;
  min-height: calc(100vh - 70px - 70px - 5px); }

.col-padding {
  padding: 30px; }

.card {
  margin: 50px 0;
  padding: 50px;
  background: rgba(220, 220, 220, 0.1); }
  .card h1:first-child, .card h2:first-child {
    margin-top: 0; }

.Refracter-app .toastify {
  z-index: 99999;
  color: #efefef; }
  .Refracter-app .toastify.toastify--top-right {
    top: calc( 70px + 5px); }
  .Refracter-app .toastify .toastify-content--info {
    border-color: #EDA564; }
  .Refracter-app .toastify .toastify__close {
    font-size: 1.2em;
    line-height: 0;
    padding-bottom: 4px; }
    .Refracter-app .toastify .toastify__close:hover {
      background: none;
      color: #efefef; }
  .Refracter-app .toastify .toastify-content {
    display: flex;
    align-items: center;
    background: #333;
    padding-left: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    animation-timing-function: linear !important; }
  .Refracter-app .toastify .toastify__body {
    font-size: 1em;
    padding-right: 25px; }

html.dragNdrop-isDragging * {
  user-select: none; }

html.dragNdrop-isDragging .dragNdrop-droppable * {
  pointer-events: none; }

html.dragNdrop-isDragging .content-window {
  z-index: 102; }

.dragNdrop-preview {
  position: fixed;
  z-index: 2000;
  width: 200px;
  padding: 1em;
  background: #efefef;
  color: #222;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: rotate3d(0, 0, 0); }

.react-contextmenu {
  z-index: 99999;
  width: 200px;
  font-size: 16px;
  color: #efefef;
  text-align: left;
  background-color: #333;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto; }

.react-contextmenu-item {
  width: 200px;
  padding: 10px 20px;
  font-weight: 400;
  line-height: 1.5;
  text-align: inherit;
  background: 0 0;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .react-contextmenu-item .react-contextmenu {
    border-left: 1px solid #333; }

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item:hover {
  color: #222;
  background-color: #EDA564;
  border-color: #222;
  text-decoration: none; }

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  color: #878a8c;
  background-color: transparent; }

.react-contextmenu-item--divider {
  padding: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  cursor: inherit; }

.react-contextmenu-item--divider:hover {
  background-color: transparent; }

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
  border: none; }

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
  content: "❯";
  display: inline-block;
  position: absolute;
  right: 10px; }

.example-multiple-targets::after {
  content: attr(data-count);
  display: block; }

.slick-next:before, .slick-prev:before {
  transition: all 0.2s;
  color: #efefef; }

.slick-arrow {
  transition: all 0.2s; }

.slick-disabled {
  opacity: 0; }

.slick-prev {
  left: -30px; }

.slick-next {
  right: -30px; }

body.modal-open .modal {
  display: flex !important;
  height: 100%; }

body.modal-open .modal .modal-dialog {
  margin: auto; }

.modal-backdrop {
  background: #333; }

.modal-dialog {
  max-width: 600px;
  width: calc(100% - 5px - 5px); }
  .modal-dialog.small-modal {
    max-width: 400px; }

.modal-body {
  padding: 30px;
  padding-top: 20px; }

.modal-content {
  background: #333;
  border-radius: 0;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .modal-content .close {
    position: absolute;
    top: 25px;
    right: 20px;
    line-height: 0;
    color: #efefef;
    text-shadow: none;
    opacity: 1;
    transition: color 0.2s; }
    .modal-content .close:hover {
      color: #EDA564; }

.modal-header {
  padding: 30px 30px 0 30px;
  border: none; }

.modal-title {
  font-size: 2em; }

.modal-footer {
  padding: 0 30px 30px 30px;
  border: none; }

.icon:hover {
  text-decoration: none !important; }

.refracter-refracter-logo-full {
  overflow: hidden; }
  .refracter-refracter-logo-full:before {
    line-height: 0.43em; }

.refracter-repo {
  position: relative;
  top: 0.2em; }

.icon.absolute {
  text-align: center;
  user-select: none; }
  .icon.absolute:before {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -0.5em; }

.library.icon {
  position: relative;
  top: 0.15em;
  left: -0.1em;
  margin-right: 10px; }

.playlist-icon {
  position: relative;
  margin-right: 15px;
  top: 0.2em; }
  .playlist-icon .notes {
    position: relative;
    top: 0.2em;
    left: -0.2em;
    text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3); }
  .playlist-icon .list {
    position: relative;
    top: -0.05em;
    left: 0.2em; }

body {
  font-family: "Titillium Web", sans-serif;
  color: #efefef;
  font-size: 1.6em;
  line-height: 1.5em; }

a, a:visited {
  color: #efefef; }

a:focus {
  text-decoration: none; }

a:hover {
  color: #EDA564; }

h1 {
  font-size: 3em;
  margin: 50px 0;
  color: #efefef; }
  h1 .icon {
    margin-right: 15px; }

h2 {
  font-weight: 800;
  font-size: 1.75em;
  letter-spacing: 0.05em;
  margin: 30px 0; }
  h2:first-child {
    margin-top: 0; }

.tag {
  font-size: 0.9em; }

button.btn, button.btn-default, .dropdown .dropdown-label, .dropdown-contents div {
  height: 46px;
  border-radius: 0;
  border: none;
  color: #efefef;
  background: #555;
  padding: 0.2em 1em;
  font-size: 20px;
  transition: all 0.2s; }
  button.btn:hover, button.btn-default:hover, .dropdown .dropdown-label:hover, .dropdown-contents div:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #EDA564;
    color: white; }

.dropdown {
  position: relative;
  height: 46px;
  max-width: 250px;
  background: #333;
  overflow: hidden;
  transition: all .3s; }
  .dropdown, .dropdown * {
    user-select: none; }
  .dropdown:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .dropdown .dropdown-contents {
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%; }
    .dropdown .dropdown-contents div {
      cursor: pointer; }
  .dropdown .dropdown-label {
    text-align: center;
    cursor: default; }
    .dropdown .dropdown-label .icon {
      float: right; }
  .dropdown .dropdown-label, .dropdown .dropdown-contents div {
    padding-top: 0.5em; }

.input-container {
  text-align: left;
  margin: -6px -6px 0.5em -6px;
  padding: 6px; }

label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 0.8em; }

input:-webkit-autofill, input:focus:-webkit-autofill {
  -webkit-text-fill-color: #efefef !important;
  -webkit-box-shadow: 0 0 0px 1000px #3c3c3c inset; }

input {
  display: block;
  width: 100%;
  background: #3c3c3c;
  color: #efefef;
  border: none;
  font-size: 1.2em;
  padding: 0.5em 0.5em;
  transition: all .3s; }
  input:focus {
    padding-left: 0.5em;
    background: #555;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

input:focus, textarea:focus {
  outline: none; }

button[type="submit"] {
  margin-top: 1em; }

.forgot-password-link {
  margin-top: 15px; }

.input-errors, .server-errors {
  font-size: 0.8em;
  padding: 0.5em 1em;
  background: #ff6666;
  text-align: left; }

.server-errors {
  margin-top: 15px; }

/*
================================================================================
SPINNERS
================================================================================
USAGE

Default:

.my-spinner {
 @include spinner();
}


Custom:

.my-spinner {
 @include spinner(1.25em, 3px solid #555, .7s, background rgba(0, 0, 0, .2);
}

All arguments are optional.

Acceppts any valid CSS dimensional declaration, e.g px, em, rem as an argument for size.

Use either shorthand border declarations or individual 'border-[property] [value]' (no colon!) pairs for the style.

Pass any number of seconds referring to the duration of one full rotation for animation speed.

--------------------------------------------------------------------------------
*/
.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0;
  visibility: hidden; }
  .spinner-container .refracter-spinner {
    position: relative;
    font-size: 150px;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EDA564;
    transform: scale(0); }
    .spinner-container .refracter-spinner span {
      position: absolute;
      height: 100%; }
    .spinner-container .refracter-spinner .refracter-logo-spinner-outer {
      animation-name: rotateRefracterSpinner;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
      animation-iteration-count: infinite; }

@keyframes rotateRefracterSpinner {
  0% {
    transform: rotate3d(0, 0, 1, 45deg); }
  100% {
    transform: rotate3d(0, 0, 1, 405deg); } }
    .spinner-container .refracter-spinner .refracter-logo-spinner-middle {
      animation-name: pulseRefracterSpinner;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
      animation-iteration-count: infinite; }

@keyframes pulseRefracterSpinner {
  0% {
    transform: scale(0.6); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(0.6); } }
  .spinner-container.showing {
    visibility: visible;
    opacity: 1; }
    .spinner-container.showing .refracter-spinner {
      animation-name: showSpinner;
      animation-duration: .3s;
      animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
      animation-fill-mode: forwards; }

@keyframes showSpinner {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
  .spinner-container.hiding {
    visibility: visible;
    animation-name: hideSpinnerContainer;
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-fill-mode: forwards; }

@keyframes hideSpinnerContainer {
  0% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    visibility: hidden; } }
    .spinner-container.hiding .refracter-spinner {
      transform: scale(1);
      animation-name: hideSpinner;
      animation-duration: .3s;
      animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
      animation-fill-mode: forwards; }

@keyframes hideSpinner {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@-webkit-keyframes spinner-animation {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spinner-animation {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-ms-keyframes spinner-animation {
  0% {
    -ms-transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg); } }

@-o-keyframes spinner-animation {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(100deg); } }

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.spinner {
  background-color: transparent;
  border: 3px solid #1277c2;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: spinner-animation 0.65s infinite linear;
  -moz-animation: spinner-animation 0.65s infinite linear;
  -o-animation: spinner-animation 0.65s infinite linear;
  -ms-animation: spinner-animation 0.65s infinite linear;
  animation: spinner-animation 0.65s infinite linear; }

.topbar {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border: solid transparent 5px;
  border-bottom: 0; }
  .topbar .padded-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    padding: 7px 245px; }
  .topbar .refracter-logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0 20px;
    color: #efefef;
    font-size: 150px;
    overflow: visible; }
    .topbar .refracter-logo .alpha-label {
      position: absolute;
      top: 22px;
      right: -30px;
      padding: 5px;
      font-size: 14px;
      line-height: 0.9em;
      background: #efefef;
      color: #222;
      font-weight: bold; }
  .topbar .seach-input-container {
    position: relative;
    display: block;
    margin: auto;
    max-width: 550px;
    height: 100%;
    color: #efefef; }
    .topbar .seach-input-container input {
      position: absolute;
      z-index: 50;
      height: 100%;
      width: 100%;
      font-size: 1.5em;
      padding: 20px 20px 20px 60px;
      margin: 0; }
      .topbar .seach-input-container input:focus {
        padding-left: 20px; }
        .topbar .seach-input-container input:focus + .icon {
          left: 100%;
          right: 0%;
          transform: translate3d(-100%, 0, 0); }
    .topbar .seach-input-container .icon {
      position: absolute;
      z-index: 51;
      left: 0%;
      top: 0;
      height: 100%;
      width: 60px;
      font-size: 2em;
      pointer-events: none;
      transition: all .3s;
      transform: translate3d(0, 0, 0); }
  .topbar .logged-in {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 235px;
    padding-right: 112px; }
    .topbar .logged-in .username {
      width: 100%;
      padding: 10px;
      text-align: right;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .topbar .logged-in .signout-btn {
      position: absolute;
      top: 0;
      right: 0; }

.PlayerBar {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: #222;
  border: solid transparent 5px;
  color: gree;
  padding: 0 130px 0 345px; }
  .PlayerBar .input-range {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    height: 100%; }
    .PlayerBar .input-range .input-range__track {
      top: 0;
      margin: 0;
      height: 100%;
      border: none;
      border-radius: 0;
      background: #dcdcdc; }
    .PlayerBar .input-range .input-range__track--active {
      background: #EDA564; }
    .PlayerBar .input-range .input-range__slider {
      display: none; }
  .PlayerBar #yt-container {
    position: absolute;
    bottom: calc( 100% + 5px);
    left: 0;
    height: 340px;
    width: 340px;
    transform: translate3d(0, 150%, 0); }
  .PlayerBar .player-btn {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    background: #EDA564;
    font-size: 1.5em;
    cursor: pointer;
    transition: .1s; }
    .PlayerBar .player-btn:hover {
      opacity: 0.7; }
    .PlayerBar .player-btn.enabled {
      background: #333; }
    .PlayerBar .player-btn.player-play-pause {
      font-size: 2em;
      margin: 0 5px; }
    .PlayerBar .player-btn .icon {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
  .PlayerBar .volume-mute {
    display: inline-block;
    height: 100%;
    margin-left: 5px;
    font-size: 1.2em; }
    .PlayerBar .volume-mute .input-range {
      width: 85px; }
  .PlayerBar .player-controls-lhs {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 340px; }
  .PlayerBar .progress-bar-container {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%; }
  .PlayerBar .track-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    pointer-events: none;
    font-size: 1em;
    color: #222;
    line-height: 1.5em;
    padding: .35em .75em; }
    .PlayerBar .track-details .track-title {
      font-size: 1.5em; }
    .PlayerBar .track-details .track-progress {
      float: right; }
  .PlayerBar .player-controls-rhs {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 130px;
    text-align: right; }
    .PlayerBar .player-controls-rhs .loop-track {
      margin: 0 5px; }

.track-list * {
  user-select: none; }

.track-list table {
  margin: 0; }
  .track-list table thead tr {
    border: none;
    background: none !important; }
    .track-list table thead tr .play-btn-col {
      width: 40px; }
    .track-list table thead tr .number-col {
      width: 50px; }
    .track-list table thead tr .duration-col {
      width: 70px; }
    .track-list table thead tr th {
      border: none;
      text-transform: uppercase;
      padding: 10px 10px 8px;
      max-width: 177px;
      font-size: 0.8em;
      transition: all 0.2s; }
      .track-list table thead tr th span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%; }
      .track-list table thead tr th.pointer:hover {
        background: rgba(220, 220, 220, 0.2); }
      .track-list table thead tr th .sort-icon {
        position: relative;
        top: 5px;
        margin-right: 0.5em; }
  .track-list table tr {
    position: relative;
    border: none; }
    .track-list table tr td {
      cursor: default;
      border: none;
      font-size: 1.2em;
      padding: 10px 15px 8px;
      max-width: 177px; }
      .track-list table tr td span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%; }
      .track-list table tr td.play-btn-col {
        position: absolute;
        cursor: pointer;
        line-height: 1em;
        padding: 0.8em; }
        .track-list table tr td.play-btn-col .equalizer {
          display: inline-block;
          transform-origin: 0 0;
          transform: rotate(180deg);
          margin: 1.2em; }
        .track-list table tr td.play-btn-col .refracter-pause {
          display: none;
          margin-top: 0.1em; }
        .track-list table tr td.play-btn-col:hover .refracter-play {
          transform: scale(1.3); }
        .track-list table tr td.play-btn-col:hover .equalizer {
          display: none; }
        .track-list table tr td.play-btn-col:hover .refracter-pause {
          display: block;
          transform: scale(1.3); }
    .track-list table tr:hover {
      background: #222; }
    .track-list table tr.selected-track {
      background: #dcdcdc;
      color: #222; }
      .track-list table tr.selected-track a, .track-list table tr.selected-track a:visited {
        color: #222; }
    .track-list table tr.active-track {
      background: #EDA564;
      color: #222; }
      .track-list table tr.active-track a, .track-list table tr.active-track a:visited {
        color: #222; }

.Tile {
  cursor: pointer;
  display: block;
  background: #333;
  margin: 15px 0;
  transition: all 0.2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .Tile:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .Tile .tile-image {
    position: relative;
    width: 100%;
    padding-bottom: 100%; }
    .Tile .tile-image .icon {
      font-size: calc(3.5vw + 3.5vh);
      color: #efefef !important; }
    .Tile .tile-image img {
      width: 100%;
      position: absolute; }
  .Tile .tile-info {
    padding: 0.5em;
    font-size: 0.9em; }
    .Tile .tile-info .tile-main-title, .Tile .tile-info .tile-secondary-title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .Tile .tile-info .tile-main-title {
      font-size: 1.1em; }
    .Tile .tile-info .tile-secondary-title {
      font-weight: bold; }

.slick-slider .Tile {
  margin: 15px 0; }

.home {
  min-height: calc(100vh - 70px - 70px - 5px);
  text-align: center; }
  .home .home-welcome {
    max-width: 500px; }
  .home .refracter-logo {
    color: #EDA564;
    font-size: 400px;
    margin-bottom: 25px; }
  .home .sign-in-register-buttons {
    margin: 50px 0; }

.album h1 {
  position: relative;
  margin: 0; }

.album h2 {
  font-size: 1.2em;
  margin: 10px 0 25px; }

.album .container {
  z-index: 5; }

.album .background-art-container {
  display: block;
  user-select: none;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #222; }

.album .background-art {
  user-select: none;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  opacity: 0.1; }
  .album .background-art:after {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(34, 34, 34, 0), #222); }

.album .tags {
  margin: 0.4em 0; }

.album .album-info {
  position: relative;
  margin: 50px 0;
  padding-left: 210px;
  height: 185px;
  overflow: visible; }
  .album .album-info .dropdown {
    margin-top: 3.5em; }

.album .album-art {
  position: absolute;
  top: 0;
  left: 0;
  width: 185px;
  margin-bottom: 0; }

.artist .container {
  z-index: 5; }

.artist .artist-intro {
  text-align: center; }

.artist .background-art-container {
  display: block;
  user-select: none;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #222; }

.artist .background-art {
  display: block;
  user-select: none;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  opacity: 0.3; }
  .artist .background-art:after {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(rgba(34, 34, 34, 0), #222); }

.artist .add-album-btn {
  margin: 1em 0; }

.sidebar {
  position: fixed;
  z-index: 101;
  top: 70px;
  left: 0;
  width: 350px;
  height: calc( 100% - 70px - 70px);
  border: solid transparent 5px;
  border-bottom: 0;
  font-size: 1.2em;
  padding-bottom: 345px; }
  .sidebar .padded-inner {
    width: 100%;
    height: 100%;
    background: #333; }
  .sidebar .album-art {
    position: absolute;
    z-index: 101;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 340px;
    background: #EDA564; }
    .sidebar .album-art .icon {
      color: #efad72;
      font-size: 291.66667px; }
    .sidebar .album-art img {
      width: 100%; }
  .sidebar .wrapper {
    position: relative;
    height: 100%; }
    .sidebar .wrapper.logged-in {
      padding-top: 70px; }
  .sidebar .login-signup {
    text-align: center;
    padding: 30px; }
    .sidebar .login-signup .sign-in-register-buttons {
      margin: 30px -25px; }
  .sidebar .link {
    cursor: pointer;
    position: relative;
    display: block;
    width: 100%;
    border: none;
    padding: 8px 15px 14px;
    color: #efefef;
    background: transparent;
    transition: all 0.2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .sidebar .link:hover, .sidebar .link:focus {
      background: #555; }
    .sidebar .link.dragNdrop-hover {
      background: #222;
      padding-left: 30px; }
    .sidebar .link:hover, .sidebar .link:visited {
      text-decoration: none; }
      .sidebar .link:hover .text, .sidebar .link:visited .text {
        text-decoration: none; }
  .sidebar input.link {
    color: #222;
    font-size: 1em; }
  .sidebar .playlist-icon {
    font-size: 1.4em; }
  .sidebar .library-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    font-size: 1.5em;
    padding: 15px;
    border-bottom: 5px solid #222; }

.alpha-label {
  font-size: 14px; }
