//libraries
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');
@import url('https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table-all.min.css');
//@import '/../node_modules/normaliz.css/normalize'


//variables
$mainFont: 'Titillium Web', sans-serif;
//$mainFont: 'Source Sans Pro', sans-serif;

//dimensions
$topBarHeight: 70px;
$sidebarWidth: 350px;
$playerBarHeight: 70px;
$borderPadding: 5px;
$pageComponentMargin: 50px;

//colors
$primaryColor: #EDA564;
$white: #efefef;
$lightBackground: #dcdcdc;
$medLightBackground: #555;
$medBackground: #434343;
$darkBackground: #121212;

//global imports
@import 'scss/layout';
@import 'scss/typography';
@import 'scss/forms';
@import 'scss/spinners';

//component imports
@import 'components/TopBar';
@import 'components/Sidebar';
@import 'components/PlayerBar';
@import 'components/TrackList';
@import 'components/Tile';

//container imports
@import 'containers/Album';
