@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");
@import url("https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table-all.min.css");
* {
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  background: #121212; }

input {
  color: black; }

.icon {
  text-align: center;
  user-select: none; }
  .icon:before {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -0.5em; }

.container {
  width: 100%;
  max-width: 1440px; }

.padded-inner {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 60px; }

.content-window {
  position: fixed;
  z-index: 20;
  top: 70px;
  right: 0;
  width: calc( 100% - 350px);
  height: calc( 100% - 70px - 70px);
  overflow: auto; }

.page {
  position: absolute;
  width: 100%;
  min-height: 100%; }

body.modal-open .modal {
  display: flex !important;
  height: 100%; }

body.modal-open .modal .modal-dialog {
  margin: auto; }

body {
  color: #efefef; }

h1 {
  margin: 50px 0;
  color: #efefef; }

.tag {
  font-size: 0.9em; }

.modal-content {
  background: #434343;
  border-radius: 0;
  text-align: center; }

label {
  display: block; }

input {
  display: block; }

input:focus, textarea:focus {
  outline: none; }

.input-range {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  height: 100%; }
  .input-range .input-range__track {
    top: 0;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 0;
    background: #dcdcdc; }
  .input-range .input-range__track--active {
    background: #EDA564; }
  .input-range .input-range__slider {
    display: none; }

/*
================================================================================
SPINNERS
================================================================================
A Sass mixin to generate a pure CSS3 loading/busy indicator.
https://github.com/franzheidl/spinners
Franz Heidl 2014
MIT License
--------------------------------------------------------------------------------
USAGE

Default:

.my-spinner {
 @include spinner();
}


Custom:

.my-spinner {
 @include spinner(1.25em, 3px solid #555, .7s, background rgba(0, 0, 0, .2);
}

All arguments are optional.

Acceppts any valid CSS dimensional declaration, e.g px, em, rem as an argument for size.

Use either shorthand border declarations or individual 'border-[property] [value]' (no colon!) pairs for the style.

Pass any number of seconds referring to the duration of one full rotation for animation speed.

--------------------------------------------------------------------------------
*/
@-webkit-keyframes spinner-animation {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spinner-animation {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-ms-keyframes spinner-animation {
  0% {
    -ms-transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg); } }

@-o-keyframes spinner-animation {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(100deg); } }

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.spinner {
  background-color: transparent;
  border: 3px solid #1277c2;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: spinner-animation 0.65s infinite linear;
  -moz-animation: spinner-animation 0.65s infinite linear;
  -o-animation: spinner-animation 0.65s infinite linear;
  -ms-animation: spinner-animation 0.65s infinite linear;
  animation: spinner-animation 0.65s infinite linear; }

.topbar {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border: solid transparent 5px;
  border-bottom: 0; }
  .topbar .padded-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #dcdcdc;
    padding: 5px; }
  .topbar .refracter-logo {
    position: absolute;
    left: 20px;
    top: 25%;
    height: 50%;
    opacity: 0.7; }
  .topbar .seach-input-container {
    position: relative;
    display: block;
    margin: auto;
    max-width: 600px;
    height: 100%;
    color: #efefef; }
    .topbar .seach-input-container input {
      display: block;
      position: absolute;
      z-index: 50;
      height: 100%;
      width: 100%;
      background: #555;
      color: #efefef;
      border: none;
      font-size: 20px;
      padding: 20px 20px 20px 75px;
      transition: all .3s; }
      .topbar .seach-input-container input:focus {
        padding-left: 20px;
        background: #484848;
        color: #EDA564; }
        .topbar .seach-input-container input:focus + .icon {
          left: 100%;
          right: 0%;
          transform: translate3d(-100%, 0, 0);
          color: #EDA564; }
    .topbar .seach-input-container .icon {
      position: absolute;
      z-index: 51;
      left: 0%;
      top: 0;
      height: 100%;
      width: 70px;
      font-size: 2em;
      pointer-events: none;
      transition: all .3s;
      transform: translate3d(0, 0, 0); }

.sidebar {
  position: fixed;
  z-index: 50;
  top: 70px;
  left: 0;
  width: 350px;
  height: calc( 100% - 70px - 70px);
  border: solid transparent 5px;
  border-bottom: 0; }
  .sidebar .padded-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #434343; }
  .sidebar .album-art {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 340px;
    background: #dcdcdc;
    padding: 20px; }
    .sidebar .album-art img {
      box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5); }

.PlayerBar {
  position: fixed;
  z-index: 40;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  border: solid transparent 5px;
  color: gree;
  padding: 0 130px 0 345px; }

#yt-container {
  position: absolute;
  bottom: calc( 100% + 5px);
  right: 0; }

.player-btn {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  background: #EDA564;
  font-size: 1.5em;
  cursor: pointer;
  transition: .1s; }
  .player-btn:hover {
    opacity: 0.7; }
  .player-btn.player-play-pause {
    font-size: 2em;
    margin: 0 5px; }
  .player-btn .icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

.volume-mute {
  display: inline-block;
  height: 100%;
  margin-left: 5px;
  font-size: 1.2em; }
  .volume-mute .input-range {
    width: 85px; }

.player-controls-lhs {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 340px; }

.progress-bar-container {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%; }

.track-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  pointer-events: none;
  font-size: 1.1em;
  color: #121212;
  line-height: 1.6em;
  padding: .45em .75em; }
  .track-details .track-title {
    font-size: 1.3em; }
  .track-details .track-progress {
    float: right; }

.player-controls-rhs {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 130px;
  text-align: right; }
  .player-controls-rhs .loop-track {
    margin: 0 5px; }

.track-list .react-bs-table {
  margin: 50px 0;
  user-select: none;
  border: none; }

.track-list table thead tr {
  border: none;
  background: none !important; }
  .track-list table thead tr th {
    border: none; }

.track-list table tr {
  position: relative;
  border: none; }
  .track-list table tr td {
    user-select: none;
    cursor: default;
    border: none;
    font-size: 1.2em;
    padding: 0.75em; }
  .track-list table tr .play-icon {
    position: absolute;
    width: 40px;
    cursor: pointer; }
    .track-list table tr .play-icon:hover:before {
      transform: scale(1.3); }
    .track-list table tr .play-icon:before {
      content: "\f215"; }
  .track-list table tr:hover {
    background: #2c2c2c; }
  .track-list table tr.selected {
    background: #dcdcdc;
    color: #121212; }
  .track-list table tr.active-track {
    background: #EDA564;
    color: #121212; }
    .track-list table tr.active-track .equalizer {
      position: absolute;
      display: block;
      width: 5.0vmin;
      background-color: #121212;
      height: 2.5vmin;
      overflow: visible; }
    .track-list table tr.active-track .equalizer,
    .track-list table tr.active-track .equalizer::before,
    .track-list table tr.active-track .equalizer::after {
      animation: equalize 1.25s steps(25, end) 0s infinite; }
    .track-list table tr.active-track .equalizer::before,
    .track-list table tr.active-track .equalizer::after {
      content: '';
      position: absolute;
      top: 0;
      left: 6.25vmin;
      height: 17.5vmin;
      width: 5.0vmin;
      background-color: #121212; }
    .track-list table tr.active-track .equalizer::before {
      animation-name: equalize2; }
    .track-list table tr.active-track .equalizer::after {
      left: 12.5vmin;
      animation-name: equalize3; }

@keyframes equalize {
  0% {
    height: 5.0vmin; }
  4% {
    height: 2.5vmin; }
  8% {
    height: 5.0vmin; }
  12% {
    height: 8.75vmin; }
  16% {
    height: 12.5vmin; }
  20% {
    height: 16.25vmin; }
  24% {
    height: 15.0vmin; }
  28% {
    height: 13.75vmin; }
  32% {
    height: 13.75vmin; }
  36% {
    height: 10.0vmin; }
  40% {
    height: 12.5vmin; }
  44% {
    height: 12.5vmin; }
  48% {
    height: 13.75vmin; }
  52% {
    height: 15.0vmin; }
  56% {
    height: 16.25vmin; }
  60% {
    height: 15.0vmin; }
  64% {
    height: 15.0vmin; }
  68% {
    height: 13.75vmin; }
  72% {
    height: 12.5vmin; }
  76% {
    height: 13.75vmin; }
  80% {
    height: 15.0vmin; }
  84% {
    height: 15.0vmin; }
  88% {
    height: 16.25vmin; }
  92% {
    height: 12.5vmin; }
  96% {
    height: 8.75vmin; }
  100% {
    height: 5.0vmin; } }

@keyframes equalize2 {
  0% {
    height: 15.0vmin; }
  4% {
    height: 16.25vmin; }
  8% {
    height: 15.0vmin; }
  12% {
    height: 15.0vmin; }
  16% {
    height: 13.75vmin; }
  20% {
    height: 13.75vmin; }
  24% {
    height: 13.75vmin; }
  28% {
    height: 15.0vmin; }
  32% {
    height: 15.0vmin; }
  36% {
    height: 16.25vmin; }
  40% {
    height: 16.25vmin; }
  44% {
    height: 16.25vmin; }
  48% {
    height: 13.75vmin; }
  52% {
    height: 10.0vmin; }
  56% {
    height: 7.5vmin; }
  60% {
    height: 10.0vmin; }
  64% {
    height: 12.5vmin; }
  68% {
    height: 13.75vmin; }
  72% {
    height: 16.25vmin; }
  76% {
    height: 15.0vmin; }
  80% {
    height: 15.0vmin; }
  84% {
    height: 13.75vmin; }
  88% {
    height: 13.75vmin; }
  92% {
    height: 11.25vmin; }
  96% {
    height: 13.75vmin; }
  100% {
    height: 15.0vmin; } }

@keyframes equalize3 {
  0% {
    height: 11.25vmin; }
  4% {
    height: 8.75vmin; }
  8% {
    height: 11.25vmin; }
  12% {
    height: 13.75vmin; }
  16% {
    height: 16.25vmin; }
  20% {
    height: 18.75vmin; }
  24% {
    height: 17.5vmin; }
  28% {
    height: 13.75vmin; }
  32% {
    height: 11.25vmin; }
  36% {
    height: 10.0vmin; }
  40% {
    height: 8.75vmin; }
  44% {
    height: 6.25vmin; }
  48% {
    height: 10.0vmin; }
  52% {
    height: 12.5vmin; }
  56% {
    height: 13.75vmin; }
  60% {
    height: 16.25vmin; }
  64% {
    height: 15.0vmin; }
  68% {
    height: 13.75vmin; }
  72% {
    height: 13.75vmin; }
  76% {
    height: 12.5vmin; }
  80% {
    height: 15.0vmin; }
  84% {
    height: 16.25vmin; }
  88% {
    height: 17.5vmin; }
  92% {
    height: 15.0vmin; }
  96% {
    height: 12.5vmin; }
  100% {
    height: 11.25vmin; } }
    .track-list table tr.active-track .play-icon.equalizer {
      transform-origin: 0 0;
      transform: scale(0.1) rotate(180deg);
      margin: 2em; }

.Tile {
  display: inline-block; }

.album h1 {
  margin-bottom: 0; }

.album h2 {
  font-style: italic; }

.album .container {
  z-index: 5; }

.album .background-art {
  user-select: none;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  max-width: 1200px;
  width: 75%;
  padding-bottom: 75%;
  background-size: cover;
  box-shadow: inset 150px -150px 300px 10px #121212;
  border: 5px solid #121212;
  border-bottom-left-radius: 100%;
  opacity: 0.2; }
