.artist {

    h1 {
        //margin: 75px 0;
    }

    h2 {
    }

    .container {
        z-index: 5;
    }

    .artist-intro {
        text-align: center;
    }
    
    .add-album-btn {
        margin: 1em 0;
    }
}
