button.btn, button.btn-default, .dropdown .dropdown-label, .dropdown-contents div  {
    height: $defaultButtonHeight;
    border-radius: 0;
    border: none;
    color: $white;
    background: $medLightBackground;
    padding: 0.2em 1em;
    font-size: 20px;
    transition: all $standardHoverTime;

    &:hover {
        box-shadow: $dropShadowDepth1;
        background: $primaryColor;
        color: white;
    }

}

.dropdown {
    position: relative;
    height: $defaultButtonHeight;
    max-width: 250px;
    background: $medBackground;
    overflow: hidden;
    transition: all .3s;

    &, * {
        user-select: none;
    }

    &:hover {
        box-shadow: $dropShadowDepth1;
    }

    .dropdown-contents {
        position: absolute;
        top: $defaultButtonHeight;
        left: 0;
        width: 100%;

        div {
            cursor: pointer;
        }
    }

    .dropdown-label {
        text-align: center;
        cursor: default;

        .icon {
            float: right;
        }
    }

    .dropdown-label, .dropdown-contents div {
        padding-top: 0.5em;
    }
}
