button.btn, button.btn-default, .dropdown .dropdown-label, .dropdown-contents div  {
    height: $defaultButtonHeight;
    border-radius: 0;
    border: none;
    color: $white;
    background: $medLightBackground;
    padding: 0.75em 1em;
    font-weight: 500;
    font-size: 16px;
    transition: all $standardHoverTime;

    &:hover {
        box-shadow: $dropShadowDepth1;
        background: $primaryColor;
        color: white;
    }


}

.dropdown {
    position: relative;
    height: $defaultButtonHeight;
    max-width: 250px;
    background: $medBackground;
    overflow: hidden;
    transition: all .3s;

    &:hover {
        box-shadow: inet $dropShadowDepth2;
    }

    .dropdown-contents {
        position: absolute;
        top: $defaultButtonHeight;
        left: 0;
        width: 100%;
    }

    .dropdown-label {
        text-align: center;
        .icon {
            float: right;
        }
    }
}
