form {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.input-container {
    text-align: left;
    margin: -6px -6px 0.5em -6px;
    padding: 6px;
}

label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 0.8em;
}

input:-webkit-autofill, input:focus:-webkit-autofill {
    -webkit-text-fill-color: $white !important;
    -webkit-box-shadow: 0 0 0px 1000px darken( $medLightBackground, 10% ) inset;
}

input {
    display: block;
    width: 100%;
    background: darken( $medLightBackground, 10% );
    color: $white;
    border: none;
    font-size: 1.2em;
    padding: 0.5em 0.5em;
    transition: all .3s;

    &:focus {
        padding-left: 0.5em;
        background: $medLightBackground;
        box-shadow: $dropShadowDepth1;
    }
}

input:focus, textarea:focus {
    outline: none;
}

button[type="submit"] {
    margin-top: 1em;
}

.forgot-password-link {
    margin-top: 15px;

    a {
        ///cursor: pointer;
    }
}

.input-errors, .server-errors {
    font-size: 0.8em;
    padding: 0.5em 1em;
    background: $errorRed;
    text-align: left;
}

.server-errors {
    margin-top: 15px;
}
